<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Data</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
      }

      h1 {
        color: #008cba;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Users</h1>
    <ul>
      {% for user in users %}
      <li>{{ user[1] }} is {{ user[2] }} years old</li>
      {% endfor %}
    </ul>
  </body>
</html>
